:root {
    --dark-blue: #0A3871;
    --main-color: #F3F5FC;
    --light-blue: #D8DFE8;

    --inter-font: "Inter", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--main-color);
    font-family: var(--inter-font);
}

.header {
    margin-bottom: 5rem;
    width: 60%;
}

main {
    display: flex;
    justify-content: space-around;
}

.header__logo {
    width: 120px;
    height: 48px;
}

.form__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70dvh;
}

.form__input {
    width: 100%;
    max-width: 577px;
    height: 64dvh;
    border-color: transparent;
    background: transparent;
    outline: none;
    resize: none;
    font-family: 'inter';
    font-family: var(--inter-font);
    color: var(--dark-blue);
    font-size: 3.2rem;
    margin-bottom: 3rem;
    overflow: auto;
}

::placeholder {
    color: var(--dark-blue);
}

.alert__mensaje {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.submit__container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.form__btn {
    background: var(--dark-blue);
    color: white;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    width: 32.8rem;
    height: 6.7rem;
    border-radius: 24px;
    border: 1px solid var(--dark-blue);
    font-weight: 600;
}

.form__btn--secundary {
    background: transparent;
    color: var(--dark-blue);
}

.result {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    height: 82dvh;
    border-radius: 3.2rem;
    max-width: 40rem;
    width: 100%;
}

.result__img {
    display: block;

}

.result__title {
    font-size: 2.4rem;
    font-weight: 900;
    max-width: 33.6rem;
    text-align: center;
}

.result__text {
    text-align: center;
    font-size: 2rem;
}

.hidden {
    display: none;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .submit__container {
        justify-content: center;
    }

    .result {
        height: auto;
        max-width: 624px;
        margin: 0 auto;
        margin-top: 2rem;
        min-height: 186px;
    }

    .result__img {
        display: none;   
    }

    .encabezado__logo {
        width: 73px;
    }
}

.loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    background: radial-gradient(circle closest-side,#000 94%,#0000) right/calc(200% - 1em) 100%;
    animation: l24 1s infinite alternate linear;
  }
  .loader::before {
    content: "Loading...";
    line-height: 1em;
    color: #0000;
    background: inherit;
    background-image: radial-gradient(circle closest-side,#fff 94%,#000);
    -webkit-background-clip:text;
            background-clip:text;
  }
  
  @keyframes l24{
    100%{background-position: left}
  }
